@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cookie&family=Fuzzy+Bubbles&family=Lobster&family=Pacifico&family=Redressed&family=Shadows+Into+Light&family=Vujahday+Script&display=swap');

.cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titulo{
  color: #23c483;
  font-family: 'Radio Canada', sans-serif;
  font-size: 20px;
}
.h1 {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
}

.formMail {
  width: 20rem;
  margin-top: 20px;
  border: groove 3px #ffff;
  row-gap: 10px;
  border-radius:15px;
  box-shadow: 15px 15px 30px #94000083,
    -15px -15px 30px #46000062;
  background: #6f0606;  
  background: linear-gradient(to right, #414345, #232526);  
  opacity: 0.8;  
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
}

.errLabel {
    display: grid;
    justify-content: center;    
    color: rgb(255, 30, 0);
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    font-size: large;
    padding: auto;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-family: sans-serif;
}

hr {
  width: 20rem;
}

label {
  font-size: 1.5rem;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

input {
  font-size: 1rem;
  background: transparent;
  box-shadow: 15px 15px 30px #94000083,
    -15px -15px 30px #46000062;
  border-radius: 20px;
  color: #ffff;
}

textarea {
  border-radius: 10px;
  background-color: #a3a8af;
  padding: 0.5rem;
  width: 300px;
  height: 100px;  
}

.button {
  width: 8rem;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 1.2rem;
  color: rgb(6, 0, 128);
  background-color: #7b77eb;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: rgb(31, 41, 160);
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffff;
}